@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  background: linear-gradient(to right, #8FBC8F, #3CB371);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  background: #ddd;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
}

.leftCol1 {
    height: 90vh;
    float: left;
    width: 15%;
    border: 1px none #ccc;
    padding: 1px;
}

.leftCol1_1 {
    height: 27%;
    padding-top: 2px;
    border-bottom: solid;
    border-color: #fff;
}
.leftCol1_2 {
    height: 46%;
    background-color: #fff;
}

.leftCol1_3 {
    height: 27%;
    padding-top: 2px;
    padding-left: 8px;
    border-top: solid;
    border-color: #fff;
}

.middleCol2 {
    height: 90vh;
    float: left;
    width: 75%;
    padding: 2px;
    background-color: #2c3f50;
}

.top_middleCol2 {
    height: 10%;
    padding-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
    border-width: 1px;
    background: linear-gradient(to top, #5CA571, #2c3f50);
}

.center_middleCol2 {
    height: 90%;
}

.rightCol3 {
    height: 90vh;
    float: left;
    width: 10%;
    border: 1px none;
    background-color: white;
    padding: 1px;
}

.rightCol3_1 {
    height: 19%;
    border-bottom: solid;
    border-color: #ccc;
    padding-top: 5px;
    padding-right: 2px;
    padding-left: 2px;

}
.rightCol3_2 {
    height: 62%;
    padding-top: 15px;
}

.rightCol3_3 {
    height: 19%;
    border-top: solid;
    border-color: #ccc;
    padding-top: 6px;
    padding-right: 2px;
    padding-left: 2px;

}


.Logo1-img {
    height: auto;
    width: 100%;
    flex: auto;
    align-content:center;
}

.Logo2-img {
    height: auto;
    width: 98%;
    flex: auto;
    align-content:center;
}

.ads1-img {
    width: 100%;
}

.ads2-img {
    width: 100%;
}

.title-container {
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}


.title-container__title {
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 1.3;
  color:#000;
  font-family: 'Roboto Slab', serif;
}

.title-container__subtitle {
  font-style:  normal;
  font-weight: 100;
  letter-spacing: 1px;
  padding-top: 2px;
  line-height: 1.5;
  color: #000;
  font-family: "Roboto Slab", serif;
}


.Mainpage_title h3 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    align-items: center;

}

h1 {
    color: #fff;
}

h6{
    padding-top: 10px;
    padding-left: 1px;
    color: #2c3f50;
    font-style: oblique;
    font-family: monospace;
    font-size: 20px;
}

.fa {
  padding: 1px;
  padding-top: 12px;
  font-size: 25px;
  text-align: center;
  margin: 8px 14px;
  color: #2c3f50;
}

.fa:hover {
    opacity: 0.7;
}


.title-container img{
    height: auto;
    width: 80%;
    padding-top: 1px;
    flex: auto;
    align-content:stretch;

}


.buttons-container {
    padding-top: 140px;
    margin: 0px 700px 0px 145px;
    height: 100%;
    width: 75%;
}

.button1 {
    float: left;
    width: 25%;
    height: 25%;
    margin-right: 85px;
    margin-top: 40px;
    margin-left: 25px;
    text-align: center;

}

.button2 {
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 80px;
    margin-top: 40px;
    text-align: center;
}

.button3 {
    float: left;
    width: 25%;
    height: 25%;
    margin-top: 40px;
}

.button4 {
    clear: both;
    float: left;
    width: 25%;
    height: 25%;
    margin-right: 85px;
    margin-top: 60px;
    margin-left: 25px;
}
.button5 {
    float: left;
    width: 25%;
    height: 25%;
    margin-right: 80px;
    margin-top: 60px;
}

.button6 {
    float: left;
    width: 25%;
    height: 25%;
    margin-top: 60px;
}

.User-button {
    height: 100%;

}

.User-button h5{
    color: #fff;
    font-size: 15px;
    padding-top: 10px;
}

.btn{
    height: 100%;
    width: 100%;
    border-radius: 10%;
    align-self: center;
    background-color:inherit;
    border: dotted;
    border-width: 2px;
    border-color: #ccc;
    background-color: #2c8e75;
}

.btn img {
    width: 60px;
}

.btn:hover {
    background-color: #3CB371;
}

.Organizer-button {
    height: 100%;

}

.Organizer-button h5{
    color: #fff;
    font-size: 15px;
    padding-top: 10px;
}

.Advertiser-button {
    height: 100%;

}

.Advertiser-button h5{
    color: #fff;
    font-size: 15px;
    padding-top: 10px;
}

.Whitelist-button {
    height: 100%;


}

.Whitelist-button h5{
    color: #fff;
    font-size: 15px;
    padding-top: 10px;
}


.About-button {
    height: 100%;

}

.About-button h5{
    color: #fff;
    font-size: 15px;
    padding-top: 13px;
}

.Help-button {
    height: 100%;

}

.Help-button h5{
    color: #fff;
    padding-top: 13px;
    font-size: 15px;
}





.icon-bar {
    margin-top: 1px;
    width: 100%;
    background: #2c8e75;
    overflow: auto;
    border-radius: 12px;
}

.icon-bar h5{
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 15px;
    color: #fff;
    font-style: normal;
}


.icon-bar a {
    float: left;
    width: 16.666%;
    text-align: center;
    padding: 0px;
    transition: all 0.3s ease;

}

.icon-bar a:hover {
    background-color: #3CB371;

}

.active {
    background-color: #3CB371 !important;

}


.userarea {
    height: 94.4%;
    overflow: auto;

}
.search {
    margin-top: 40px;
    width: 90%;
    margin-left: 5%;


}

.search img{
    width: 20px;
}

.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 90%;
    background: #fff;

}

.search button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #1596F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.search button:hover {
    background: #0b7dda;
}

.search::after {
    content: "";
    clear: both;
    display: table;
}




.featuredeventsTitle {
    margin-top: 30px;
    align-content: center;
    border: none;
    text-align: center;
}

.featuredeventsTitle h5{
    font-size: 30px;
    color: lightgreen;
    font-style: italic;
    font-family: monospace;
    text-decoration: underline;
    color: fff;

}

.featuredeventMain {
    margin-top: 35px;
    margin-left: 28px;
    margin-right: 0px;
    width: 30%;
    float: left;
}
.date-area {
    width: 20%;
    height: 52px;
    border: solid;
    border-bottom: none;
    color: #fff;
    float: left;
    border-width: 2px;
    text-align: center;
    border-radius: 10px     0px      0           0;
    border-color: #ccc;
    background-color: #ccc2;
}

.eventname {
    width: 100%;
    height: 52px;
    border: solid;
    border-bottom: none;
    color: #fff;
    border-width: 2px;
    text-align: center;
    border-radius: 10px     10px      0    0;
    border-color: #ccc;
    background-color: #ccc2;
    padding-top: 13px;

}

.eventpic {
    padding-top: 20px;
    width: 100%;
    height: 150px;
    border: solid;
    color: #fff;
    border-width: 2px;
    text-align: center;
    border-color: #ccc;
    background-color: #ccc2;


}

.eventbuy {
    padding-top: 10px;
    width: 100%;
    height: 50px;
    border: solid;
    border-top: none;
    color: #fff;
    border-width: 2px;
    text-align: center;
    border-color: #ccc;
    background-color: #ccc2;
    border-radius: 0     0     10px    10px;
    cursor: pointer;

}

.eventbuy:hover {
    background-color: #ccc8;
}
